aside {
  max-width: 240px;
  overflow: auto;
  scrollbar-width: thin;
  svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    .links,
    .subscriptions {
      & > div {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #383838;
        padding-bottom: 12px;
        margin-bottom: 12px;
        a {
          height: 40px;
          display: flex;
          align-items: center;
          padding-left: 24px;
          padding-right: 24px;
          text-decoration: none;
          &:hover,
          &.active {
            background-color: #383838;
          }
          span {
            color: white;
            font-family: sans-serif;
            font-size: 15px;
            margin-left: 20px;
          }
        }
      }
    }
    .links {
    }
    .subscriptions {
      h3 {
        font-size: 14px;
        font-family: sans-serif;
        color: #aaa;
        padding-left: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 40px;
        &:hover{
          background-color: #383838;
        }
        span {
          font-size: 15px;
          font-family: sans-serif;
          color: #fff;
        }
      }
      img {
        width: 24px;
        height: 24px;
        border-radius: 50px;
      }
      span {
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
      }
    }
    .threthy {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px 0px 20px 20px;
      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 40px;
        text-decoration: none;
      }
      p {
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        margin-left: 20px;
      }
    }
    .fourthy {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0px 0px 0px 20px;
      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
      }
      p {
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        margin-left: 20px;
      }
    }
  }
  footer {
    height: 241px;
    margin-left: 20px;
    .first-text {
      a {
        margin-left: 6px;
        line-height: 20px;
        text-decoration: none;
        color: #aaa;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
      }
    }
    .second-text {
      a {
        text-decoration: none;
        color: #aaa;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        margin-left: 3px;
      }
    }
    p {
      margin-top: 20px;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: #717171;
    }
  }
}
