@mixin hide-scrollbar() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin colro-tag-a($color: #aaa) {
  text-decoration: none;
  color: $color;
}
