* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { background-color: #191919; height: 100%; max-height: 100vh; overflow: hidden; width: 100%; }

section { display: -webkit-box; display: -ms-flexbox; display: flex; height: calc(100% - 56px); }

section aside { width: 240px; }

@media (max-width: 1321px) { section aside { width: 72px; } }

@media (max-width: 781px) { section aside { width: 240px; position: fixed; top: 0; left: -240px; bottom: 0; } }

section main { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; height: 56px; max-height: 56px; background-color: rgba(33, 33, 33, 0.98); padding-left: 16px; padding-right: 16px; text-decoration: none; color: #aaa; }

nav .start { display: -webkit-box; display: -ms-flexbox; display: flex; }

nav .start a:nth-child(1) { width: 25px; height: 25px; margin-top: 15px; }

nav .start a:nth-child(1) svg { stroke: white; }

nav .start a:nth-child(2) { width: 100px; height: 25px; margin-left: 25px; margin-top: 15px; fill: white; }

nav .center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

nav .center input { width: 572px; height: 40px; border: 1px solid #303030; background-color: #121212; color: white; padding-left: 15px; font-family: "Roboto", "Noto", sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; }

nav .center button { cursor: pointer; width: 4%; height: 72%; border: none; outline: none; border: 1px solid #303030; background-color: rgba(255, 255, 255, 0.08); }

nav .center button svg { stroke: white; margin-left: 7px; }

nav .center div { background-color: #181818; width: 40px; height: 40px; margin-left: 15px; border-radius: 50px; }

nav .center div a svg { fill: white; margin-left: 6px; margin-top: 6px; }

nav .end { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

nav .end a { width: 40px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 8px; }

nav .end a svg { fill: white; padding-right: 8px; padding-left: 8px; padding-top: 8px; padding-bottom: 8px; }

nav .end button { border: none; outline: none; background: none; width: 60px; height: 40px; padding-left: 6px; padding-right: 6px; }

nav .end button img { border-radius: 50px; width: 32px; height: 32px; }

aside { max-width: 240px; overflow: auto; scrollbar-width: thin; background-color: #212121; }

@media (max-width: 1321px) { aside section { height: auto; }
  aside footer, aside .links div:nth-child(2), aside .subscriptions, aside .threthy, aside .fourthy, aside .links:nth-child(1) span { display: none !important; }
  aside .links :nth-child(1) div { margin: 15px auto 0 !important; padding: 13px; } }

aside svg { width: 24px; height: 24px; fill: white; }

aside section { height: 1165px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

aside section .links > div, aside section .subscriptions > div, aside section .threthy > div, aside section .fourthy > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-bottom: 1px solid #383838; padding-bottom: 12px; margin-bottom: 12px; }

aside section .links > div a, aside section .subscriptions > div a, aside section .threthy > div a, aside section .fourthy > div a { height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 24px; padding-right: 24px; text-decoration: none; }

aside section .links > div a:hover, aside section .links > div a.active, aside section .subscriptions > div a:hover, aside section .subscriptions > div a.active, aside section .threthy > div a:hover, aside section .threthy > div a.active, aside section .fourthy > div a:hover, aside section .fourthy > div a.active { background-color: #383838; }

aside section .links > div a span, aside section .subscriptions > div a span, aside section .threthy > div a span, aside section .fourthy > div a span { color: white; font-family: sans-serif; font-size: 15px; margin-left: 20px; }

aside section .subscriptions h3 { font-size: 14px; font-family: sans-serif; color: #aaa; padding-left: 20px; margin-bottom: 10px; text-transform: uppercase; }

aside section .subscriptions button { cursor: pointer; border: none; outline: none; background: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 20px; height: 40px; }

aside section .subscriptions button:hover { background-color: #383838; }

aside section .subscriptions button span { font-size: 15px; font-family: sans-serif; color: #fff; }

aside section .subscriptions img { width: 24px; height: 24px; border-radius: 50px; }

aside section .subscriptions span { color: white; font-family: sans-serif; font-size: 15px; font-weight: bold; margin-left: 20px; }

aside footer { height: auto; }

aside footer .links-primary { padding-top: 16px; padding-left: 19px; padding-right: 24px; }

aside footer .links-primary a { text-decoration: none; color: #aaa; font-family: sans-serif; font-size: 13px; font-weight: bold; margin-right: 8px; }

aside footer .links-secondary { padding-top: 16px; padding-left: 19px; }

aside footer .links-secondary a { text-decoration: none; color: #aaa; font-family: sans-serif; font-size: 13px; font-weight: bold; margin-right: 8px; }

aside footer .google { margin: 16px 24px 16px 24px; }

aside footer .google span { margin-top: 20px; font-family: sans-serif; font-size: 12px; font-weight: bold; color: #717171; padding-left: 20px; }

main { overflow: auto; }

main .header-main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 56px; max-height: 56px; background-color: rgba(33, 33, 33, 0.98); border-top: 1px solid #373737; border-bottom: 1px solid #373737; }

main .header-main .active { outline: none; background: none; border: 1px solid #4b4b4b; border-radius: 50px; margin-top: 12px; margin-bottom: 12px; margin-left: 24px; margin-right: 12px; background-color: white; }

main .header-main .active a { color: black; text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 12px; padding-right: 12px; }

main .header-main button:hover:not(.active) { background-color: rgba(255, 255, 255, 0.2); -webkit-transition: 0.7s; transition: 0.7s; }

main .header-main button { cursor: pointer; outline: none; background: none; border: 1px solid #4b4b4b; border-radius: 50px; margin-top: 12px; margin-bottom: 12px; margin-right: 12px; background-color: #373737; }

main .header-main button a { color: white; font-family: sans-serif; text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 12px; padding-right: 12px; }

main .content { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

main .content :nth-child(1) { margin-left: 16px; }

main .content .row { -ms-flex-wrap: wrap; flex-wrap: wrap; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 324px; margin-left: 47px; margin-top: 20px; }

main .content .row .box-1 { width: 359px; height: 302px; margin-left: 8px; margin-right: 8px; margin-bottom: 40px; }

main .content .row .box-1 a { text-decoration: none; color: white; font-family: sans-serif; }

main .content .row .box-1 a .img-video { width: 359px; height: 202px; }

main .content .row .box-1 a .channel-text { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: 31px; margin-right: -33px; }

main .content .row .box-1 a .channel-text .img-channel { width: 35px; height: 35px; border-radius: 50px; margin-left: 0px; }

main .content .row .box-1 a .channel-text h4 { color: white; margin-left: 13px; font-size: 15px; }

main .content .row .box-1 a .channel-text span { margin-left: 45px; margin-top: 7px; font-size: 13px; color: #aaa; }
/*# sourceMappingURL=style.css.map */